*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
  }

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5rem;
}

.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.2rem;
}

.abrir-menu,
.cerrar-menu{
    display: none;
    font-size: 35px;
    border: none;
    cursor: pointer;
}
.cerrar-menu{
    background-color: transparent;
    color: #ececec;
}

.slider-box {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 0 1rem;
}

.text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text p {
    font-size: 1rem;
}

.slider-box img{
    width: 100%;
}

.galery{
    width: 99%;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: white;
}

.card {
    position: relative;
    width: 100%; /* Asegura que la tarjeta ocupe el 100% del ancho de su celda */
    height: 400px; /* Permite que la altura se ajuste automáticamente */
    border: 1px solid #ddd; /* Opcional: Añade un borde para visualizar mejor */
    border-radius: 10px; /* Opcional: Añade bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;

}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb( 3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color: #f3f3f3;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;

    letter-spacing: 2px;
}

.card .back p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.information{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.information .title{
    translate: 2rem;
}

.information .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.card_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.card_info i{
    font-size: 2rem;
}

.card_info p{
    font-size: 1.3rem;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1c1c1c;
    color: #ececec;
}

footer ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
footer ul li{
    list-style: none;
    
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
    transition: all 0.3s ease;
  }
  
  /* Botón "Plan your Visit" */
  .plan-visit {
    background-color: white;
    color: black;
    border: 2px solid white;
  }
  
  /* Botón "View Gallery" */
  .view-gallery {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }
  
  /* Hover effects */
  .btn:hover {
    opacity: 0.8;
  }

@keyframes slide{   
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

@media screen and (max-width: 768px) {
    .slider-box {
        height: 50vh;
    }
    
    .text h2 {
        font-size: 1.5rem;
    }

    .text p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .slider-box {
        height: 40vh;
    }
    
    .text h2 {
        font-size: 1.2rem;
    }

    .text p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 550px){
    .abrir-menu, .cerrar-menu{
        display: block;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 1.5rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
        gap: 1rem;

    }

    .nav-list li a{
        color: #ececec;
    }
    .information .container{
        flex-direction: column;
        gap: 2rem;
    }
    .information .title{
        translate: 0;
    }
    footer{
        flex-direction: column;
        gap: 1rem;
    }
}